<p>{{translate 'contact.description'}}</p>

{{partial "processing"}}

{{#if errors.length}}
	<div class="flash error">
		{{translate 'contact.fail'}}:<br />
		<ul>
			{{#each errors as |error|}}
				<li>{{translate error}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
{{#if result}}
	<div class="flash success">
		{{translate result}}
	</div>
{{/if}}

<form {{action "submit" on="submit"}}>
	<div class="pair">
		<label style="vertical-align: top;">{{translate 'contact.content'}}</label>
		{{textarea value=text cols="70" rows="6"}}
	</div>
	<div class="pair">
		<label>{{translate 'contact.email'}}</label>
		{{input value=email}}
	</div>
	<div class="pair">
		<input type="submit" value="{{translate 'contact.send'}}">
	</div>
</form>
