<form {{action "submit" on="submit"}}>
	<div class="pair">
		<label>{{translate 'user.email'}}</label>
		{{input value=email}}
	</div>
	<div class="pair">
		<label>{{translate 'user.password'}}</label>
		{{input type='password' value=password}}
	</div>
	<div class="pair">
		<input type="submit" value="{{translate 'user.login'}}">
	</div>
</form>