<form {{action "submit" on="submit"}}>
	<div class="pair">
		<label>{{translate 'user.name'}}</label>
		{{input value=name}}
	</div>
	<div class="pair">
		<label>{{translate 'user.email'}}</label>
		{{input value=email size=30}}
	</div>
	<div class="pair">
		<label>{{translate 'user.password'}}</label>
		{{input type='password' value=password}}
	</div>
	<div class="pair">
		<label>{{translate 'user.password2'}}</label>
		{{input type='password' value=password2}}
	</div>
	<div class="pair">
		<input type="submit" value="{{translate 'user.register_and_login'}}">
	</div>
</form>