{{title 'user.heading_login'}}

<div class="narrow-column">
	<h2>{{translate 'user.heading_login'}}</h2>
	{{partial "processing"}}
	{{#unless logged}}

		<h3>{{translate 'user.via_external_services'}}</h3>
		{{partial "external-logins"}}

		<h3>{{translate 'user.via_email'}}</h3>
		{{#if errors.length}}
			<div class="flash error">
				{{translate 'user.login_fail'}}:<br />
				<ul>
					{{#each errors as |error|}}
						<li>{{translate error}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
		{{#if result}}
			<div class="flash error">
				{{translate result}}
			</div>
		{{/if}}
		{{login-form submit="login"}}
	{{/unless}}
	{{#if logged}}
		{{partial "welcome-screen"}}
	{{/if}}

</div>