<div class="narrow-column">
	<h2>Přihlášení uživatele</h2>
	{{partial "processing"}}
	{{#unless logged}}

		<h3>Přes externí služby</h3>
		{{partial "external-logins"}}

		<h3>Pomocí e-mailu</h3>
		{{#if errors.length}}
			<div class="flash error">
				Přihlášení se nezdařilo:<br />
				<ul>
					{{#each errors}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
		{{#if result}}
			<div class="flash error">
				{{result}}
			</div>
		{{/if}}
		{{login-form submit="login" submitTitle='Přihlásit'}}
	{{/unless}}
	{{#if logged}}
		{{partial "welcome-screen"}}
	{{/if}}

</div>