{{title 'user.heading_registration'}}

<div class="narrow-column">
	<h2>{{translate 'user.heading_registration'}}</h2>
	{{partial "processing"}}
	{{#unless logged}}
		<h3>{{translate 'user.via_external_services'}}</h3>
		{{partial "external-logins"}}

		<h3>{{translate 'user.via_email'}}</h3>

		{{#if errors.length}}
			<div class="flash error">
				{{translate 'user.registration_fail'}}:<br />
				<ul>
					{{#each errors as |error|}}
						<li>{{translate error}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
		{{register-form submit="register"}}
	{{/unless}}
	{{#if logged}}
		{{partial "welcome-screen"}}
	{{/if}}
</div>