<div class="question">
	<div class="question-image" title="{{question.questionImageRightsHolder}} ({{question.questionImageLicense}})">{{{question.questionImage}}}</div>
	<div class="question-text-options">
		{{#each question.options as |option|}}
			<span class="question-text-option" id="{{option.id_organism}}" {{action 'answer' option.id_organism}}>
						{{option.text}}
				<span class="dead-end"><span>&#x2715;</span></span>
						<span class="continue"><span>&rarr;</span></span>
					</span>
		{{/each}}
	</div>
	<div class="cleaner"></div>
</div>