{{title 'about_project'}}

<div class="narrow-column">
	<h2>{{translate 'about_project'}}</h2>

	<h3>{{translate 'about.heading_team'}}</h3>
	<img src="/images/al-logo.png" alt="Adaptive Learning logo" align="right" />

	<p>{{translate 'about.where'}} <a href="http://fi.muni.cz">{{translate 'about.fimu'}}</a> {{translate 'about.in_group'}} <a href="http://fi.muni.cz/adaptivelearning/">Adaptive Learning</a>.</p>

	<p>{{translate 'about.other_projects'}}:</p>

	<ul>
		<li><a href="https://www.umimefakta.cz">{{translate 'projects.facts'}}</a></li>
		<li><a href="https://www.umimecesky.cz">{{translate 'projects.czech'}}</a></li>
		<li><a href="https://www.umimematiku.cz">{{translate 'projects.math'}}</a></li>
		<li><a href="https://www.umimeanglicky.cz">{{translate 'projects.english'}}</a></li>
		<li><a href="https://www.umimeprogramovat.cz">{{translate 'projects.programming'}}</a></li>
		<li><a href="https://www.umimenemecky.cz">{{translate 'projects.german'}}</a></li>
		<li><a href="https://robomise.cz">{{translate 'projects.robomission'}}</a></li>
		<li><a href="https://anatom.cz">{{translate 'projects.anatomy'}}</a></li>
		<li><a href="https://matmat.cz">{{translate 'projects.mathematics'}}</a></li>
	</ul>

	<p>{{translate 'about.team_info'}} <a href="http://is.muni.cz/osoba/jan.drabek">Jan Drábek</a>. {{translate 'about.feedback'}} <a href="mailto:me@jandrabek.cz">me@jandrabek.cz</a>.</p>

	<h3>{{translate 'about.heading_privacy'}}</h3>

	<p>{{translate 'about.privacy_text'}}</p>

	<h3>{{translate 'about.disclaimer'}}</h3>

	<p>{{translate 'about.disclaimer_text'}}</p>

	<h3>{{translate 'about.heading_resources'}}</h3>

	<ul>
		<li><a href="http://eol.org/">Encyclopedia of Life</a> &ndash; {{translate 'about.eol'}}</li>
		<li><a href="https://www.biolib.cz/">BioLib</a> &ndash; {{translate 'about.biolib'}}</li>
		<li><a href="https://cs.wikipedia.org/">Wikipedia</a> &ndash; {{translate 'about.wikipedia'}}</li>
		<li><a href="https://www.gbif.org/">Global Biodiversity Information Facility</a> &ndash; {{translate 'about.gbif'}}</li>
		<li><a href="http://www.catalogueoflife.org">Catalogue of Life</a> &ndash; {{translate 'about.col'}}</li>
	</ul>

</div>