<div class="narrow-column">
	<h2>{{translate 'about_project'}}</h2>

	<h3>{{translate 'about.heading_team'}}</h3>
	<img src="/images/al-logo.png" alt="Adaptive Learning logo" align="right" />

	<p>{{translate 'about.where'}} <a href="http://fi.muni.cz">{{translate 'about.fimu'}}</a>, {{translate 'about.in_group'}} <a href="http://fi.muni.cz/adaptivelearning/">Adaptive Learning</a>.</p>

	<p>{{translate 'about.other_projects'}}:</p>

	<ul>
		<li><a href="http://tutor.fi.muni.cz">{{translate 'projects.tutor'}}</a></li>
		<li><a href="http://slepemapy.cz">{{translate 'projects.geography'}}</a></li>
		<li><a href="http://slepaanatomie.cz">{{translate 'projects.anatomy'}}</a></li>
		<li><a href="http://umimecesky.cz">{{translate 'projects.czech'}}</a></li>
		<li><a href="http://matmat.cz">{{translate 'projects.mathematics'}}</a></li>
		<li><a href="http://autoskolachytre.cz">{{translate 'projects.driving'}}</a></li>
	</ul>

	<p>{{translate 'about.team_info'}} <a href="http://is.muni.cz/osoba/jan.drabek">Jan Drábek</a>. {{translate 'about.feedback'}} <a href="mailto:jan.drabek@mail.muni.cz">jan.drabek@mail.muni.cz</a>.</p>

	<h3>{{translate 'about.heading_privacy'}}</h3>

	<p>{{translate 'about.privacy_text'}}</p>

	<h3>{{translate 'about.heading_resources'}}</h3>

	<ul>
		<li><a href="http://eol.org/">Encyclopedia of Life</a> &ndash; {{translate 'about.eol'}}</li>
		<li><a href="http://www.biolib.cz/">BioLib</a> &ndash; {{translate 'about.biolib'}}</li>
		<li><a href="https://cs.wikipedia.org/">Wikipedia</a> &ndash; {{translate 'about.wikipedia'}}</li>
		<li><a href="http://www.gbif.org/">Global Biodiversity Information Facility</a> &ndash; {{translate 'about.gbif'}}</li>
	</ul>

</div>