{{title 'project_name'}}

<div id="top-bar">
	<div id="top-bar-center">
		<div id="menu-toogle" onclick="App.Menu.toogle()">&#9776;</div>
		{{#link-to 'index' class="logo-wrapper"}}<h1 id="logo">{{translate 'project_name'}}</h1>{{/link-to}}
		{{#if isLogged}}
			{{partial "userinfo"}}
		{{/if}}
		{{#unless isLogged}}
			{{partial "userinfoerror"}}
		{{/unless}}

		<div id="menu">
			<ul>
				<li>{{#link-to 'index'}}{{translate 'menu.quick_options'}}{{/link-to}}</li>
				<li>{{#link-to 'concepts'}}{{translate 'menu.topics'}}{{/link-to}}</li>
				<li>{{#link-to 'play' 'mix' 'all'}}{{translate 'menu.random_mix'}}{{/link-to}}</li>
			</ul>
			<div class="cleaner"></div>
		</div>
	</div>
	<div class="cleaner"></div>
</div>
<div id="content">
	<div id="content-center">
		{{outlet}}
		{{#if contactModal}}
			<div class="window-shadow">
				&nbsp;
			</div>
			<div id="modal-contact">
				{{partial "contact"}}
			</div>
		{{/if}}
	</div>
</div>
<div id="footer">
	<div id="footer-center">
		<div class="more-about">
			<ul>
				<li>{{#link-to 'about'}}{{translate 'about_project'}}{{/link-to}}</li>
				<li>{{#link-to 'terms'}}{{translate 'terms.heading'}}{{/link-to}}</li>
				<li><a {{action 'openContactModal'}}>{{translate 'write_us'}}</a></li>
				<li><a href="https://www.facebook.com/poznavackaprirody/">{{translate 'facebook_info'}}</a></li>
			</ul>
		</div>
		<div class="other-projects">
			{{translate 'try_also'}}:
			<ul>
				<li><a href="https://www.umimefakta.cz">{{translate 'projects.facts'}}</a></li>
				<li><a href="https://www.umimecesky.cz">{{translate 'projects.czech'}}</a></li>
				<li><a href="https://www.umimematiku.cz">{{translate 'projects.math'}}</a></li>
				<li><a href="https://www.umimeanglicky.cz">{{translate 'projects.english'}}</a></li>
				<li><a href="https://www.umimeprogramovat.cz">{{translate 'projects.programming'}}</a></li>
				<li><a href="https://www.umimenemecky.cz">{{translate 'projects.german'}}</a></li>
				<li><a href="https://robomise.cz">{{translate 'projects.robomission'}}</a></li>
				<li><a href="https://anatom.cz">{{translate 'projects.anatomy'}}</a></li>
				<li><a href="https://matmat.cz">{{translate 'projects.mathematics'}}</a></li>
			</ul>
		</div>
		<div class="institutions">
			<a href="http://www.fi.muni.cz/adaptivelearning/"><img src="/images/al-logo.png" alt="Adaptive Learning logo" /></a>
			<a href="http://www.fi.muni.cz/"><img height="80px" src="/images/fi-logo.png" alt="FI MUNI logo"/></a>
			<a href="http://www.eol.org/"><img height="80px" src="/images/eol.png" alt="Encyclopedia of Life logo"/></a>
		</div>

	</div>
</div>
