<div id="top-bar">
	<div id="top-bar-center">
		<div id="menu-toogle" onclick="App.Menu.toogle()">&#9776;</div>
		<h1 id="logo">{{translate 'project_name'}}</h1>
		{{#if isLogged}}
			{{partial "userinfo"}}
		{{/if}}
		{{#unless isLogged}}
			{{partial "userinfoerror"}}
		{{/unless}}

		<div id="menu">
			<ul>
				<li>{{#link-to 'index'}}{{translate 'menu.quick_options'}}{{/link-to}}</li>
				<li>{{#link-to 'concepts'}}{{translate 'menu.topics'}}{{/link-to}}</li>
				<li>{{#link-to 'play' 'mix'}}{{translate 'menu.random_mix'}}{{/link-to}}</li>
			</ul>
			<div class="cleaner"></div>
		</div>
	</div>
	<div class="cleaner"></div>
</div>
<div id="content">
	<div id="feedback-button">
		<a {{action 'openContactModal'}} href="#" >{{translate 'write_us'}}</a>
	</div>
	<div id="content-center">
		{{outlet}}
		{{#if contactModal}}
			<div id="modal-contact">
				{{partial "contact"}}
			</div>
		{{/if}}
	</div>
</div>
<div id="footer">
	<div id="footer-center">
		<div class="more-about">
			<ul>
				<li>{{#link-to 'about'}}{{translate 'about_project'}}{{/link-to}}</li>
				<li><a {{action 'openContactModal'}}>{{translate 'write_us'}}</a></li>
				<li><a href="http://www.facebook.com">{{translate 'facebook_info'}}</a></li>
			</ul>
		</div>
		<div class="other-projects">
			{{translate 'try_also'}}:
			<ul>
				<li><a href="http://slepemapy.cz">{{translate 'projects.geography'}}</a></li>
				<li><a href="http://slepaanatomie.cz">{{translate 'projects.anatomy'}}</a></li>
				<li><a href="http://umimecesky.cz">{{translate 'projects.czech'}}</a></li>
				<li><a href="http://matmat.cz">{{translate 'projects.mathematics'}}</a></li>
				<li><a href="http://autoskolachytre.cz">{{translate 'projects.driving'}}</a></li>
			</ul>
		</div>
		<div class="institutions">
			<a href="http://www.fi.muni.cz/adaptivelearning/"><img src="/images/al-logo.png" alt="Adaptive Learning logo" /></a>
			<a href="http://www.fi.muni.cz/"><img height="80px" src="/images/fi-logo.png" alt="FI MUNI logo"/></a>
			<a href="http://www.fi.muni.cz/"><img height="80px" src="/images/eol.png" alt="Encyclopedia of life logo"/></a>
		</div>

	</div>
</div>