<h2>{{translate 'topics.heading'}}</h2>
<p>{{translate 'topics.description'}} <strong>{{translate 'topics.start'}}</strong>.</p>

{{#if invalid}}
	<div class="flash error">{{translate 'topics.invalid'}}</div>
{{/if}}

{{#if interruption}}
	<div class="flash info">{{translate 'topics.interruption'}}</div>
{{/if}}

{{#each model as |category|}}
	<div class="group">
		{{#if others}}
			<h2>{{translate 'topics.others'}}</h2>
		{{/if}}
		<h2>{{category.name}}</h2>
		{{#each category.concepts as |concept|}}
			<div class="concept">
				{{#link-to 'play' concept.id_concept classNames="start-button"}}{{translate 'topics.start'}}{{/link-to}}

				<span class="concept-name">{{concept.name}}</span>
				<span class="concept-description">{{concept.description}}</span>
				<div class="cleaner"></div>
			</div>
		{{/each}}
	</div>
{{/each}}