{{title 'menu.topics'}}

<h2>{{translate 'topics.heading'}}</h2>
<p>{{translate 'topics.description'}} <strong>{{translate 'topics.start'}}</strong>. {{translate 'topics.description2'}}</p>

{{#if invalid}}
	<div class="flash error">{{translate 'topics.invalid'}}</div>
{{/if}}

{{#if interruption}}
	<div class="flash info">{{translate 'topics.interruption'}}</div>
{{/if}}

{{#each model as |category|}}
	<div class="group">
		{{#if others}}
			<h3>{{translate 'topics.others'}}</h3>
		{{/if}}
		{{#unless others}}
			<h3>{{category.name}}</h3>
		{{/unless}}
		{{#each category.concepts as |concept|}}
			<div class="concept">
				{{#link-to 'play' concept.id_concept concept.code_name classNames="start-button"}}{{translate 'topics.start'}}{{/link-to}}

				<h4 class="concept-name">{{concept.name}}</h4>
				{{#if concept.warning}}
					<span class="concept-description">
						{{#link-to 'terms' classNames="warning aligned"}}{{translate 'topics.warning'}}{{/link-to}}
					</span>
				{{/if}}
				<div class="cleaner"></div>
				<span class="concept-description">{{concept.description}}<br>
					{{translate 'topics.items_count'}}: {{concept.items_count}}
					{{#link-to 'view' concept.id_concept concept.code_name}}{{translate 'topics.view'}}{{/link-to}}
				</span>
				<div class="cleaner"></div>
			</div>
		{{/each}}
	</div>
{{/each}}