<h2>{{translate 'google.heading'}}</h2>
<p>{{translate 'google.description'}}</p>

{{#if isTheirFailure}}
	<div class="flash error">{{translate 'google.their'}}</div>
{{/if}}

{{#if isUnknownFailure}}
	<div class="flash error"{{translate 'google.unknown'}}></div>
{{/if}}

{{#if isRegistrationFailure}}
	<div class="flash error">{{translate 'google.registration'}}</div>
{{/if}}

{{#if isUnavailability}}
	<div class="flash error">{{translate 'google.unavailable'}}</div>
{{/if}}