{{title 'menu.quick_options'}}

<div class="quick-choice">
	<h2>{{translate 'index.heading'}}</h2>
	<p>{{translate 'index.choose_topic'}}:</p>
	<div id="quick-buttons">
		{{#each model.concepts as |concept|}}
			{{#link-to 'play' concept.id_concept concept.code_name classNames="quick-button"}}<h3>{{concept.name}}</h3>{{/link-to}}
		{{/each}}
		<div class="cleaner" ></div>
	</div>
	<p>{{translate 'index.other_topics'}} {{! {{#link-to 'concepts'} }{{translate 'index.all_available'} }{{/link-to} } }}.</p>
</div>

<div class="narrow-column">
	<h2>{{translate 'index.what_is_it'}}</h2>
	<p>{{translate 'index.description'}}</p>
	<p>{{translate 'index.description2'}}</p>
	<p class="center"><img src="/images/demo.png" alt="" alt="{{translate 'index.demo'}}" /></p>

	<h2>{{translate 'index.how_it_works'}}</h2>

		<div class="adaptive">
			<h3>{{translate 'index.heading_adaptive'}}</h3>
			<p>{{translate 'index.text_adaptive'}}</p>
		</div>

		<div class="specialized-system">
			<h3>{{translate 'index.heading_specialized'}}</h3>
			<p>{{translate 'index.text_specialized'}}</p>
		</div>

		<div class="data-learning">
			<h3>{{translate 'index.heading_data'}}</h3>
			<p>{{translate 'index.text_data'}}</p>
		</div>
</div>