{{title 'news_heading'}}

<div class="narrow-column">
	<h2>{{translate 'news_heading'}}</h2>

	<ul>
		<li>{{translate 'news.2022-01'}}</li>
		<li>{{translate 'news.2021-06'}}</li>
        <li>{{translate 'news.2018-07'}}</li>
        <li>{{translate 'news.2017-06'}}</li>
        <li>{{translate 'news.2017-02'}}</li>
        <li>{{translate 'news.2016-05'}}</li>
        <li>{{translate 'news.2015-11'}}</li>
        <li>{{translate 'news.2015-10'}}</li>
	</ul>

</div>
