{{title 'offline.title'}}

<div class="narrow-column">
	<h2>{{translate 'offline.heading'}}</h2>

	<p>{{translate 'offline.description'}}</p>
	<p>{{translate 'offline.description2'}} <a href="mailto:jan@drabek.cz">jan@drabek.cz</a>. {{translate 'offline.thanks'}}</p>

	<div>
		<a href="/" class="button">Obnovit stránku</a>
		<a href="mailto:jan@drabek.cz" class="button">Napsat e-mail</a>
	</div>
</div>
