{{#if model.all}}
	{{title 'quiz.random_mix'}}
{{/if}}
{{#unless model.all}}
	{{title model.concept.name}}
{{/unless}}



<div class="window-shadow">
	&nbsp;
</div>
<div class="window">
	<div class="window-header">
		<div class="window-title">
			{{#if model.all}}
				{{translate 'quiz.random_mix'}}
			{{/if}}
			{{model.concept.name}}
		</div>
		<div class="window-close"><a {{action "close"}} title="{{translate 'quiz.close'}}">&#x2715;</a></div>
		<div class="window-info">
			<progress value="{{progressValue}}" max="{{progressMax}}"></progress>
			&nbsp;{{progressValue}}/{{questionMaxCount}}
			<a {{action "openContactModal" reportMessage}} class="report">&#x238B;&nbsp;{{translate 'quiz.report'}}</a>
		</div>
		<div class="cleaner"></div>
	</div>
	<div class="window-content">
		{{#if isProcessing}}
			<div id="question-loading">
				<img src="../images/spinner.gif" alt="{{translate 'quiz.loading'}}" />
			</div>
		{{/if}}
		{{#if failureDetected}}
			<div class="question">
				<div class="flash error">
					{{translate 'quiz.failure'}}
				</div>
			</div>
		{{/if}}
			{{#if isChooseRepresentationQuestion}}
				{{partial "question-representation"}}
			{{/if}}
			{{#if isChooseNameQuestion}}
				{{partial "question-name"}}
			{{/if}}
	</div>
</div>
