<div class="window">
	<div class="window-header">
		<div class="window-title">
			{{#if model.all}}
				Náhodný mix
			{{/if}}
			{{model.concept.name}}
		</div>
		<div class="window-close">{{#link-to "concepts" (query-params interruption=1 invalid="null") title="Zavřít"}}&#x2715;{{/link-to}}</div>
		<div class="window-info">
			<progress value="{{progressValue}}" max="{{progressMax}}"></progress>
			&nbsp;{{progressValue}}/{{questionMaxCount}}
		</div>
		<div class="cleaner"></div>
	</div>
	<div class="window-content">
		{{#if isProcessing}}
			<div id="question-loading">
				<img src="../images/spinner.gif" alt="Načítání" />
			</div>
		{{/if}}
			{{#if isChooseRepresentationQuestion}}
				{{partial "question-representation"}}
			{{/if}}
			{{#if isChooseNameQuestion}}
				{{partial "question-name"}}
			{{/if}}
	</div>
</div>