{{title 'quiz.done_title'}}

<div class="narrow-column">
	<h2 class="left-floated-heading">{{translate 'quiz.done'}}</h2>

	{{#if isAnonymous}}
		<div class="login-prompt">
			<p>{{translate 'register1'}}<br>{{translate 'register2'}}</p>
			<p><b>{{translate 'register3'}}</b></p>
			{{partial "external-logins"}}
		</div>
	{{/if}}

	<div class="continue-prompt">
		{{#if model.mix}}
			{{#link-to 'play' 'mix' 'all' classNames='button'}}{{translate 'quiz.continue'}}{{/link-to}}
		{{/if}}
		{{#if model.id_concept}}
			{{#link-to 'play' model.id_concept model.code_name classNames='button'}}{{translate 'quiz.continue'}}{{/link-to}}
		{{/if}}
		{{#link-to 'concepts' classNames='button'}}{{translate 'quiz.choose_new_topic'}}{{/link-to}}
	</div>

	{{#if questions.count}}
		<p>{{translate 'quiz.success_rate'}}:&nbsp;{{successRate}}&nbsp;%</p>
		<progress class="quiz-success-rate" value="{{questions.success_rate}}" max="{{questions.count}}"></progress>
		<div class="cleaner">&nbsp;</div>

		{{#each questions.answered as |item|}}
			<div class="quiz-item {{item.overall_correct}}">
				{{! Render the main question (organism) first }}
				{{#each item.relevant_options as |option|}}
					{{#if option.main}}
						<div class="quiz-item-names">
							<span class="quiz-item-name" {{action "closeWrongImage" item.question_number}} title="{{translate 'quiz.close_image'}}">{{item.question_number}}. {{option.name}}</span>
							{{! Show list of all wrong options.}}
							{{#each item.relevant_options as |option|}}
								{{#unless option.main}}
									{{#unless option.correct}}
										{{#if option.image}}
											<span class="quiz-item-name-incorrect" {{action "showWrongImage" item.question_number option.image}} title="{{translate 'quiz.open_image'}}">{{option.name}}</span>
										{{else}}
											<span class="quiz-item-name-incorrect">{{option.name}}</span>
										{{/if}}
									{{/unless}}
								{{/unless}}
							{{/each}}
						</div>
						<div class="quiz-item-images">
							<div class="quiz-item-overlay" id="quiz-item-overlay-{{item.question_number}}" title="{{translate 'quiz.close_image'}}" {{action "closeWrongImage" item.question_number}}></div>
							{{! Now the picture of correct organism. }}
							{{{option.image}}}
						</div>
					{{/if}}
				{{/each}}

			</div>
			<span class="dummy-even-cleaner"></span>
		{{/each}}
		<div class="cleaner">&nbsp;</div>
	{{/if}}
</div>