{{title 'quiz.done_title'}}

<div class="narrow-column">
	<h2>{{translate 'quiz.done'}}</h2>

	<div>
		{{#if model.mix}}
			{{#link-to 'play' 'mix' 'all' classNames='button'}}{{translate 'quiz.continue'}}{{/link-to}}
		{{/if}}
		{{#if model.id_concept}}
			{{#link-to 'play' model.id_concept model.code_name classNames='button'}}{{translate 'quiz.continue'}}{{/link-to}}
		{{/if}}
		{{#link-to 'concepts' classNames='button'}}{{translate 'quiz.choose_new_topic'}}{{/link-to}}
	</div>

	{{#if questions.count}}
		<p>{{translate 'quiz.success_rate'}}:&nbsp;{{successRate}}&nbsp;%</p>
		<progress class="quiz-success-rate" value="{{questions.success_rate}}" max="{{questions.count}}"></progress>
		<div class="cleaner">&nbsp;</div>

		{{#each questions.answered as |item|}}
			<div class="quiz-item {{item.correct}}">
				<span class="quiz-item-name">{{item.name}}</span>
				{{{item.image}}}
			</div>
			<span class="dummy-even-cleaner"></span>
		{{/each}}
		<div class="cleaner">&nbsp;</div>
	{{/if}}
</div>