<div class="narrow-column">
	<h2>{{translate 'quiz.done'}}</h2>
	<p>{{translate 'quiz.hurray'}}</p>

	<div>
		{{#if model.mix}}
			{{#link-to 'play' 'mix' classNames='button'}}{{translate 'quiz.continue'}}{{/link-to}}
		{{/if}}
		{{#if model.id_concept}}
			{{#link-to 'play' model.id_concept classNames='button'}}{{translate 'quiz.continue'}}{{/link-to}}
		{{/if}}
		{{#link-to 'concepts' classNames='button'}}{{translate 'quiz.choose_new_topic'}}{{/link-to}}
	</div>
</div>