{{title 'quiz.done_title'}}

<div class="narrow-column">
	<h2>{{translate 'terms.heading'}}</h2>

	<p>{{translate 'terms.about'}} (<a href="mailto:jan.drabek@muni.cz">jan.drabek@muni.cz</a>).</p>

	<p>{{translate 'terms.materials'}}</p>

	<p>{{translate 'terms.quality'}}</p>

	<p>{{translate 'terms.fair-use'}}</p>

	<p>{{translate 'terms.privacy'}}</p>

	<p>{{translate 'terms.experiments'}}</p>

	<p>{{translate 'terms.cookies'}}</p>
</div>